@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 251 43% 15%;

    --card: 0 0% 100%;
    --card-foreground: 251 43% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 251 43% 15%;

    --primary: 255 80% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 262 84% 91%;
    --secondary-foreground: 251 43% 15%;

    --muted: 262 84% 96%;
    --muted-foreground: 251 43% 45%;

    --accent: 84 71% 94%;
    --accent-foreground: 251 43% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 262 84% 91%;
    --input: 262 84% 91%;
    --ring: 262 84% 91%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}